*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.hero-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url(https://github.com/r99arthur/portfoil/blob/midias/emile-perron-xrVDYZRGdw4-unsplash.jpg?raw=true);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
}

nav{
    width: 50%;
    font-family: 'Oswald' sans-serif;
    
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 750px;
    background-color: rgba(31, 31, 31, 0.797);
    background-size: 780px;
    height: 22px;
    border-radius: 20px;
    padding: 20px;
    border: 0.1px solid #f9e960;
    box-shadow: 0 4px 8px #ffe482, 0 6px 20px 0 rgba(0,0,0,0.19);
}

li{
    font-family: 'Oswald' sans-serif;
    font-size: 21px;
    text-align: center;
    color:white ;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.as:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fae266c3;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.as:hover{
    color:rgb(201, 188, 48);
}

.as:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.exemplares{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    padding-bottom: 20px;
    
}

.modelos{
    width: 40%;
    display: grid;
    grid-template-columns: repeat(1,2fr);
    row-gap: 20px;
    column-gap: 40px;
    padding-left: 50px;
}

.modelo{
    width: 100%;
    height: 250px;
    background-size:cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family: 'Bebas Neue', sans-serif ;
}

.modelo:hover{
    transform: scale(1.05);
}

.um{
    background-image: url(https://github.com/r99arthur/portfoil/blob/midias/Captura%20de%20tela%202022-11-19%20022003.png?raw=true);
}

.dois{
    background-image: url(https://github.com/r99arthur/portfoil/blob/midias/Captura%20de%20tela%20liquid.png?raw=true);
}

